<div class="row">
  <div class="six columns">
    <div class="panel">
      <h5>This is a regular panel.</h5>
      <p>It has an easy to override visual style, and is appropriately subdued.</p>
    </div>
  </div>
  <div class="six columns">
    <div class="panel callout radius">
      <h5>With Bill Titan you can </h5>
      <p>> Share your bills with friends without any hassles</p>
      <p>> Create or Join multiple groups</p>
      <p>> Get payment reports instantly</p>
      <p>> Simple to use</p>
    </div>
  </div>
</div>

<style>
.callout h5{
	color:white;
}
</style>
<!-- <div id ="orbit-slider">
	<img src="/assets/slider_1.jpg" />
	<img src="/assets/slider_2.jpg" />
	<img src="/assets/slider_3.jpg" />
</div>

<script>
	$(window).load(function() {
	    $("#orbit-slider").orbit({
	    	animation: 'fade',           // fade, horizontal-slide, vertical-slide, horizontal-push
	        animationSpeed: 800,                // how fast animtions are
	        timer: true,       // true or false to have the timer
	        advanceSpeed: 4000,     // if timer is enabled, time between transitions
	        pauseOnHover: true,      // if you hover pauses the slider
	        startClockOnMouseOut: true,    // if clock should start on MouseOut
	        startClockOnMouseOutAfter: 1,    // how long after MouseOut should the timer start again
	        directionalNav: false,      // manual advancing directional navs
	        captions: true,       // do you want captions?
	        captionAnimation: 'fade',     // fade, slideOpen, none
	        captionAnimationSpeed: 800,   // if so how quickly should they animate in
	        bullets: false,       // true or false to activate the bullet navigation
	        bulletThumbs: false,    // thumbnails for the bullets
	    	fluid: true
	    });
	});


</script> -->