<footer>
	<div id = "copyright">
		<div class = "row">
			<div class = "four columns">
				Site content © 2012 Boombastic Home
			</div>
			<div class = "eight columns">
			</div>
		</div>
	</div>
</footer>
